<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="errlogfile" xsi:type="File" fileName="${basedir}/logfile.txt"  />
		<target name="datalogfile" xsi:type="File" fileName="${basedir}/errors.txt"  />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="datalogfile" />
		<logger name="*" minlevel="Debug" writeTo="datalogfile" />
		<logger name="*" minlevel="Error" writeTo="errlogfile" />
	</rules>
</nlog>
